/* REGOLE GENERALI */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
menu {
	list-style: none;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: currentColor;
}
body{
     font-family: 'Open Sans', sans-serif; 
}


/* HEADER */
.logo{
    width: 134px;
    height: 26px;  
}

.left{
    padding-left: 44px;
}

.row{
    display: flex;
}

.between{
    justify-content: space-between;
    align-items: center;
    line-height: 34px;
}

.header-container{
    max-height: 84px;
    padding-top:28px;
    padding-bottom: 32px;
    padding-left: 22px;
    padding-right: 22px;   
}

.Pa{
    padding-right: 40px;   
}

.button-start{
   
    border: 8px solid #0061ff;
    background-color: #0061ff;
    color: white;
    padding-right: 8px;
    padding-left: 8px;
    margin: 6px;
}

.img-sottosfondo{
    margin-bottom: -75px;
}

/* HERO CONTAINER MAIN SECT */
.hero-contanier{
    padding-top: 100px;
    max-width: 1256px;
    margin: 0 auto;
    margin-bottom:166px ;
}

.title{
  
    font-size: 87px;
    line-height: 1;
    padding-bottom: 50px;
}

.col-1{
    flex-basis: 33%;
}

.col-2{
    flex-basis: 66%;
}

.freccia{
    padding-top: 90px;
    font-size: 50px;
}

.colort{
    color: #221f1f;
    padding-right: 55px;
    line-height: 22px;
}
.giu{
    padding-bottom: 33px;
}
/* MAIN CONTAINER INIZIO BUINESS */
.main-container-business{
    max-width: 1042px;
    margin: 0 auto;
}

.Fatturazione{
    gap: 100px;
}

.title2{
    font-size: 40px;
}

.bottoni{
    padding-top:72px;
    padding-bottom: 50px;
}

.colcards{
    flex-basis: 31%;
    border: 1px solid #e7e7e9;     
}

.between2{
    justify-content: space-between;
     flex-wrap: wrap; 
     gap: 35px;
}

.colcardsfull{
    flex-basis: 100%;
    border: 1px solid #e7e7e9;
    gap: 35px;
}

.linea{
    border-bottom: 1px solid #e7e7e9; 
}

.fa-regular{
    color: #e7e7e9;
}

.fa-check{
    color: #0061ff;
}

.spazio{
    padding-left: 55px;
    padding-right:34px;
}

.h4{
    padding-top:36px;
    padding-bottom: 26px;
    font-weight: bold;
    font-size: 25px;
}

.mese{
    padding-top: 14px;
    padding-bottom: 55px;
}

.utente{
    padding-bottom:24px ;
}

.tb{
    padding-bottom: 24px;
}

.prod{
    padding-bottom: 54px;
}

.giorni{
    padding-bottom: 34px;
}

.acquista{
    padding-bottom: 20px;   
}
.piano{
    padding-bottom: 34px;

}
.piano::before{
    content: '';
    display: block;
    height: 1px;
    width: 50px;
    background-color: #e7e7e9;
    margin: 40px 0px;

}

.gb{
    padding-bottom: 27px;
}

.bold{
    font-weight: bold;
}

.sottolinea{
    color: #3a3af1;
    text-decoration: underline #3a3af1;
}

.cart2{
    padding-bottom: 70px;
}

.build{
    border-bottom: 1px solid #e7e7e9;
}

.building{
    text-align: center;
}

.center{
    text-align:center;
}

.angolo1{
    position: relative;
}

.ali{
    padding-left: 55px;
}

.pad-card-full{
    padding-bottom: 35px;   
    padding-top: 50px;
}

.su{
    padding-top: 9px;
    padding-bottom: 9px;
}

.container-card{
    margin-bottom: 155px;
}

.cardfull{
    padding-bottom: 55px;
}

/* PARTNER DROP BOX */
.Container-Partner{
    max-width:1042px ;
    margin: 0 auto;
}

.col-figpartner{
    flex-basis: 62%;
   
}

.col-partner{
    flex-basis: 38%;
    padding-right: 59px;
}

.h4-fuori-card{
    padding-top: 58px;
    padding-bottom: 26px;
    font-weight: bold;
    font-size: 25px;
}

.gappartner{
    gap: 54px;
}

.bottone-vuoto{
    border: 1px solid black;
    color: black;
    padding: 7px;
    
}

.pabut{
    padding-top: 33px;
}

.Container-Operazioni{
    max-width:1042px;
    margin: 0 auto;
    margin-top: 170px;
}

.Col-Title{
    flex-basis: 100%;
}

.Col-Img-Tex{
    flex-basis: 30%;
}

.wrap{
    flex-wrap: wrap;
    gap: 52px;
}

.h2-tiltle{
    padding-bottom: 50px;
}

.h4-img-tex{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 40px;
}

/* UTILIZZATORI DROPBOX */
.Container-dropbox{
    max-width: 1042px;
    margin: 0 auto;
    margin-top: 222px;
    margin-bottom: 155px; 
}

.col-link{
    flex-basis: 100%;
}

.col-tex{
    flex-basis: 100%;
    margin-bottom: 60px;
}

.wrap-utilizzatori{
    flex-wrap: wrap;
}
/* DESIGNIT LOGHI IMG */
.col-designit{
    flex-basis: 33%;       
}

.pad-sec{
    padding-left: 54px;
    padding-right: 60px;
    flex-basis: 34%;
    flex-direction: column;
}

.Col-figure{   
    height: 50%;
    flex-basis:50%;
    justify-content: center;
    align-items: center;
}
.wrap-designit{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;      
}

.logo-mod{
  filter: invert(100%);
  width: 50%;
   
     
}

.des{
   background-color: #a2d39b;   
}

.asu{
    background-color: #61082b;    
    
}

.uf{
    background-color: #0093ce;
}

.topps{
    background-color: #ff1c1c;
}

.word{
    background-color: #ff1c1c;
    
}

.heartst{
    background-color: #b4d0e7;
    
}

.planet{
    background-color: #0d2481;
}

.clear{
    background-color: #ffd830;

}

.p-des{
    padding-bottom:55px ;
}

.pad-figrs{
     padding-top: 50px; 
     padding-bottom: 95px;
}

.logo-central{
    width: 280px;
    height: 90px;
}

.p-das{
    margin-bottom: 229px;
}
.items{
    height: 100%;
}


.border-logo{
    
     border: 13px solid #ffffff63 ; 
}
/* LA TUA AZIENDA DROPBOX */
.container-azienda{
    max-width: 1042px;
    margin: 0 auto;
    padding-top: 135px;
    padding-bottom: 135px;
}
.red-title{
    font-weight: bold;
    color: #600b38;
    font-size: 40px;
}
.bottone-azienda{
    border: 1px solid #b4d0e7;
    color: black;
    padding:10px 31px;
    background-color: white;
    margin-bottom: 40px
}
.betweenC{
     justify-content: space-between; 
      align-items: center; 
}
.col-75{
    flex-basis: 75%;
}
.col-25{
    flex-basis: 25%;
}
