* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
menu {
	list-style: none;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
.logo{
    width: 133px;
    height: 19px;
    align-self: baseline;
    padding-right: 44px;
    
}
.row{
    display: flex;
}
.between{
    justify-content: space-between;
    align-items: center;
}
.header-container{
    max-height: 84px;
    padding-top:32px;
    padding-bottom: 32px;
    padding-left: 22px;
    padding-right: 22px;
    
}
.ha{
    padding-right: 40px;
    color: #645f5f;
  
}
.button-start{
   
    border: 12px solid #0061ff;
    background-color: #0061ff;
    color: white;
}
.main-contanier{
    padding-left: 360px;
    padding-right: 396px;
    padding-top: 100px;
}
.title{
  
    font-size: 80px;
    line-height: 1;
    padding-bottom: 50px;
}
.padtitle{
      padding-right:132px ;
}
.col-1{
    flex-basis: 33%;
}
.col-2{
    flex-basis: 66%;
}
.giu{
    padding-bottom: 33px;
}
.freccia{
    padding-top: 90px;
    font-size: 50px;
}
.colort{
    color: #221f1f;
}
.main-container2{
    padding-left: 470px;
    padding-right: 470px;
    padding-top: 297px;

}
.title2{
    font-size: 40px;

}
.radio{
    padding-right: 50px;
}
.bottoni{
    padding-top:72px;
    padding-bottom: 50px;
}
.colcards{
    flex-basis: 31%;
      
}
.between2{
    justify-content: space-between;
    flex-wrap: wrap;
}
.colcardsfull{
    flex-basis: 100%;
}


